/* Include the padding and border in an element's total width and height */

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  background: #313131;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;
  max-width: 1420px;
  box-sizing: border-box;
}

.container {
  margin: 25px;
  justify-content: center;
}

/* Remove margins and padding from the list */

ul {
  /* margin: 0; */
  margin: 0 25px 0 25px;
  padding: 0 25px 0 25px;
}

/* Style the list items */

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #fff;
  font-size: 18px;
  transition: 0.2s;
  list-style: none;
  border: 1px solid #dedede;
  border-radius: 5px;
  user-select: none;
}

/* Darker background-color on hover */

ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */

ul li.checked {
  color: #f44336;
  text-decoration: line-through;
}

ul li.active {
  color: #5ca0d3;
}

ul li.active::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
  color: #5ca0d3
}

/* Add a "checked" mark when clicked on */

ul li.checked::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  background: #fff;
  color: #313131;
  font-size: '20px';
  border: none;
}

.close:hover {
  background-color: #f44336;
  color: #fff;
}

/* Style the header */

.todoHeader {
  display: flex;
  padding: 30px 40px;
  justify-content: space-between;
}

.appName {
  color: #248ea9;
  overflow: hidden;
  justify-content: flex-start;
  position: relative;
}

/* Style the input */

input {
  margin: 0;
  border: none;
  border-radius: 5px;
  padding: 15px;
  float: left;
  font-size: 16px;
  background: #fff;
}

/* Style the "Add" button */

.addBtn {
  padding: 15px;
  background: #fff;
  color: #313131;
  float: left;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  margin-left: 5px;
}

.newTaskSection {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.logoutBtn {
  display: flex;
  color: #248ea9;
  border-radius: 5px;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 1em;

}

h1 {
  font-weight: 700;
  color: #384047;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 1.2em;
  margin-top: 0.2em;
}

.loginForm a {
  font-size: 0.98em;
  color: #8a97a0;
  text-decoration: none;
}

.loginContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 6%;
  margin: 0;
}

.loginForm {
  background-color: #FFF;
  padding: 2em;
  padding-bottom: 3em;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.loginForm input {
  color: #384047;
  background-color: #e8eeef;
  border: none;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1.2em;
}

.loginForm input:focus {
  outline: none;
}

.button {
  text-align: center;
  font-size: 16px;
  color: #FFF;
  background-color: #22b9ca;
  border: none;
  border-radius: 4px;
  padding: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

.button span {
  position: relative;
  z-index: 1;
}

.button .circle {
  position: absolute;
  z-index: 0;
  background-color: #35A556;
  border-radius: 50%;
  transform: scale(0);
  opacity: 5;
  height: 50px;
  width: 50px;
}

.button .signup-message {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.toastPosition {
  display: flex;
  align-items: center;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  background: #dedede;
}